@{ ViewData["Message"] = "Home Page";
}
<header class="col-md-12 m-md-auto" aling="left">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nuestra identidad</h3>
                    <img src="~/Imagen/img1.jpg" width="300" height="300" />
                    <p>Somos tu Alcaldia, a tu servicio .</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nuestros parques</h3>
                    <img src="~/Imagen/img2.jpg" width="800" height="300" />
                    <p>Para el esparcimiento de tu familia nustro parques y plaza .</p>
                </div>
            </div>

            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nuestro Lago de Ilopango</h3>
                    <img src="~/Imagen/img3.jpg" width="800" height="300" />
                    <p>Un lugar donode pasarla en familia.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</header>
<div class="container">

    <h1 class="my-4">Somos Tu Alcaldia</h1>

    <!-- Marketing Icons Section -->
    <div class="row" align="justify">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Trabajando para ti</h4>
                <div class="card-body">
                    <p class="card-text">Somos una alcaldia a tú servicio mira nuestros proyectos estamos trabajando para ti.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">lee más</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Nuestros proyectos</h4>
                <div class="card-body">
                    <p class="card-text">Tenemos muchos proyectos a tu servicio, aprende cosmetologia, piñateria, panaderia y mucho más .</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Portfolio Section -->
    <h2>Acerca de nosotros</h2>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Imagen/img4.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Nuestros parques</a>
                    </h4>
                    <p class="card-text">En nuestros parques lugar para recreacion de nustros hijos y famila</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Imagen/img5.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Nuestra Alcaldia</a>
                    </h4>
                    <p class="card-text">En nuestra alcaldia tenemos todos los servicios que te pueden interesar.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Imagen/img6.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Turicentro de Apulo</a>
                    </h4>
                    <p class="card-text">Balneario turicentro de Apulo cuenta con piscinas especialmente para la famila</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Imagen/img7.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Nuestras fistas patronales</a>
                    </h4>
                    <p class="card-text">Nos pintamos de color para nuestras fiestas patronales.</p>
                </div>
            </div>
        </div>

    </div>
</div>
